.bg-848484 {
    background-color: $color-848484;
}

.bg-FF416C {
    background-color: $color-FF416C;
}

.bg-03193f {
    background-color: $color-03193f;
}

.bg-808080 {
    background-color: $color-808080;
}

.bg-333333 {
    background-color: $color-333333;
}

.text-848484 {
    color: $color-848484;
}

.text-FF416C {
    color: $color-FF416C;
}

.text-03193f {
    color: $color-03193f;
}

.text-808080 {
    color: $color-808080;
}

.text-333333 {
    color: $color-333333;
}


.font12 {
    font-size: $font12;
}

.font14 {
    font-size: $font14;
}

.font16 {
    font-size: $font16;
}

.font18 {
    font-size: $font18;
}

.font20 {
    font-size: $font20;
}

.font24 {
    font-size: $font24;
}

.font26 {
    font-size: $font26;
}

.font28 {
    font-size: $font28;
}

.font32 {
    font-size: $font32;
}

.font34 {
    font-size: $font34;
}

.font40 {
    font-size: $font40;
}

.font46 {
    font-size: $font46;
}

.font56 {
    font-size: $font56;
}

.font52 {
    font-size: $font52;
}

.font65 {
    font-size: $font65;
}

.font72 {
    font-size: $font72;
}

.font99 {
    font-size: $font99;
}



.leading20 {
    line-height: $leading20;
}

.leading24 {
    line-height: $leading24;
}

.leading26 {
    line-height: $leading26;
}

.leading28 {
    line-height: $leading28;
}

.leading32 {
    line-height: $leading32;
}

.leading37 {
    line-height: $leading37;
}

.leading39 {
    line-height: $leading39;
}

.leading40 {
    line-height: $leading40;
}

.leading42 {
    line-height: $leading42;
}

.leading44 {
    line-height: $leading44;
}

.leading46 {
    line-height: $leading46;
}

.leading50 {
    line-height: $leading50;
}

.leading51 {
    line-height: $leading51;
}

.leading57 {
    line-height: $leading57;
}

.leading60 {
    line-height: $leading60;
}

.leading82 {
    line-height: $leading82;
}

.leading90 {
    line-height: $leading90;
}

.leading112 {
    line-height: $leading112;
}