.bg-FF5A29 {
    background-color: $color-FF5A29;
}

.bg-000000 {
    background-color: $color-000000;
}

.bg-F7F7F7 {
    background-color: $color-F7F7F7;
}

.bg-C260F0 {
    background-color: $color-C260F0;
}

.bg-B0B0B0 {
    background-color: $color-B0B0B0;
}

.bg-F2C200 {
    background-color: $color-F2C200;
}

.bg-008000 {
    background-color: $color-008000;
}

.bg-6EC4CC {
    background-color: $color-6EC4CC;
}

.text-FF5A29 {
    color: $color-FF5A29;
}
.text-C9C9C9{
    color: $color-C9C9C9;
} 
.text-000000 {
    color: $color-000000;
}

.text-F7F7F7 {
    color: $color-F7F7F7;
}

.text-C260F0 {
    color: $color-C260F0;
}

.text-B0B0B0 {
    color: $color-B0B0B0;
}

.text-F2C200 {
    color: $color-F2C200;
}

.text-008000 {
    color: $color-008000;
}

.text-6EC4CC {
    color: $color-6EC4CC;
}

.font12 {
    font-size: $font12;
}

.font14 {
    font-size: $font14;
}

.font15 {
    font-size: $font15;
}

.font16 {
    font-size: $font16;
}

.font18 {
    font-size: $font18;
}

.font19 {
    font-size: $font19;
}

.font20 {
    font-size: $font20;
}

.font22 {
    font-size: $font22;
}

.font30 {
    font-size: $font30;
}

.font40 {
    font-size: $font40;
}

.font55 {
    font-size: $font55;
}

.font60 {
    font-size: $font60;
}

.font90 {
    font-size: $font90;
}

.font100 {
    font-size: $font100;
}

.font140 {
    font-size: $font140;
}

.space_0_6 {
    letter-spacing: $space_0_6;
}

.space_0_8 {
    letter-spacing: $space_0_8;
}

.space_1_1 {
    letter-spacing: $space_1_1;
}

.space_1_2 {
    letter-spacing: $space_1_2;
}

.space_1_8 {
    letter-spacing: $space_1_8;
}

.space_0_42 {
    letter-spacing: $space_0_42;
}

.space_0_54 {
    letter-spacing: $space_0_54;
}

.space_0_48 {
    letter-spacing: $space_0_48;
}

.space_0_15 {
    letter-spacing: $space_0_15;
}

.space_0_15 {
    letter-spacing: $space_0_15;
}

.space_0_36 {
    letter-spacing: $space_0_36;
}

.space_0_14 {
    letter-spacing: $space_0_14;
}

.space_0_19 {
    letter-spacing: $space_0_19;
}

.space_0_36 {
    letter-spacing: $space_0_36;
}

.space_0_66 {
    letter-spacing: $space_0_66;
}

.space_2_8 {
    letter-spacing: $space_2_8;
}

.space_2 {
    letter-spacing: $space_2;
}

.leading16 {
    line-height: $leading16;
}

.leading20 {
    line-height: $leading20;
}

.leading22 {
    line-height: $leading22;
}

.leading28 {
    line-height: $leading28;
}

.leading36 {
    line-height: $leading36;
}

.leading40 {
    line-height: $leading40;
}

.leading85 {
    line-height: $leading85;
}

.leading90 {
    line-height: $leading90;
}

.leading60 {
    line-height: $leading60;
}

.leading110 {
    line-height: $leading110;
}

.leading57_6 {
    line-height: $leading57_6;
}

.leading25_2 {
    line-height: $leading25_2;
}

.leading28_8 {
    line-height: $leading28_8;
}

.leading22_4 {
    line-height: $leading22_4;
}

.radius10 {
    border-radius: $radius10;
}

.radius20 {
    border-radius: $radius20;
}

.radius25 {
    border-radius:  $radius25;
}

.radius40 {
    border-radius: $radius40;
}

@include media-breakpoint-down(lg) {
    .res-font12 {
        font-size: $font12;
    }

    .res-font14 {
        font-size: $font14;
    }

    .res-font15 {
        font-size: $font15;
    }

    .res-font16 {
        font-size: $font16;
    }

    .res-font18 {
        font-size: $font18;
    }

    .res-font19 {
        font-size: $font19;
    }

    .res-font20 {
        font-size: $font20;
    }

    .res-font30 {
        font-size: $font30;
    }

    .res-font22 {
        font-size: $font22;
    }

    .res-font40 {
        font-size: $font40;
    }

    .res-font55 {
        font-size: $font55;
    }

    .res-font60 {
        font-size: $font60;
    }

    .res-font90 {
        font-size: $font90;
    }

    .res-font100 {
        font-size: $font100;
    }

    .res-font140 {
        font-size: $font140;
    }

    .res-space_0_6 {
        letter-spacing: $space_0_6;
    }

    .res-space_0_8 {
        letter-spacing: $space_0_8;
    }

    .res-space_1_1 {
        letter-spacing: $space_1_1;
    }

    .res-space_1_2 {
        letter-spacing: $space_1_2;
    }

    .res-space_1_8 {
        letter-spacing: $space_1_8;
    }

    .res-space_0_42 {
        letter-spacing: $space_0_42;
    }

    .res-space_0_54 {
        letter-spacing: $space_0_54;
    }

    .res-space_0_48 {
        letter-spacing: $space_0_48;
    }

    .res-space_0_15 {
        letter-spacing: $space_0_15;
    }

    .res-space_0_15 {
        letter-spacing: $space_0_15;
    }

    .res-space_0_36 {
        letter-spacing: $space_0_36;
    }

    .res-space_0_14 {
        letter-spacing: $space_0_14;
    }

    .res-space_0_19 {
        letter-spacing: $space_0_19;
    }

    .res-space_0_36 {
        letter-spacing: $space_0_36;
    }

    .res-space_0_66 {
        letter-spacing: $space_0_66;
    }

    .res-space_2_8 {
        letter-spacing: $space_2_8;
    }

    .res-space_2 {
        letter-spacing: $space_2;
    }


    .res-leading16 {
        line-height: $leading16;
    }

    .res-leading20 {
        line-height: $leading20;
    }

    .res-leading22 {
        line-height: $leading22;
    }

    .res-leading28 {
        line-height: $leading28;
    }

    .res-leading36 {
        line-height: $leading36;
    }

    .res-leading40 {
        line-height: $leading40;
    }

    .res-leading85 {
        line-height: $leading85;
    }

    .res-leading90 {
        line-height: $leading90;
    }

    .res-leading60 {
        line-height: $leading60;
    }

    .res-leading110 {
        line-height: $leading110;
    }

    .res-leading57_6 {
        line-height: $leading57_6;
    }

    .res-leading25_2 {
        line-height: $leading25_2;
    }

    .res-leading28_8 {
        line-height: $leading28_8;
    }

    .res-leading22_4 {
        line-height: $leading22_4;
    }

    .res-radius10 {
        border-radius: $radius10;
    }

    .res-radius20 {
        border-radius: $radius20;
    }
}