.card-hover {
    .img {
        transform: scale(1);
        transition: 0.3s all ease-in-out;
    }

    &:hover {
        .img {
            transform: scale(1.1);
        }
    }
}

.counter-cards{
    padding: 40px 54px;
}

.category-card{
    .category-img {
        height: 38px;
    }
}