.header-top-slider {
    .slick-slide {
        color: rgba($color: $white, $alpha: 0.3);

        &.slick-current {
            .discount-tag {
                color: $white;
            }
        }
    }
}

.marquree-slider {
    .slick-list {
        overflow: visible;
    }
}

.testimonial-slider {
    .slick-list {
        margin-left: -25px;
        margin-right: -25px;

        .slick-slide {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}



.working-slider-section {
    .slick-list {
        margin-left: -45px;
        margin-right: -45px;

        .slick-slide {
            padding-left: 45px;
            padding-right: 45px;
        }
    }
}

