.marquree-slider {
    .slick-list {
        overflow: visible;
    }
}

.testimonial-slider {
    .slick-list {
        margin-left: -25px;
        margin-right: -25px;

        .slick-slide {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}



