.footer {
    .footer-logo {
        height: 120px;
    }

    .social-media {
        li {
            background-color: $black ;

            &:first-child {
                margin-left: 0px !important;
            }

            &:last-child {
                margin-left: 0px !important;
            }
        }
    }

    .social-icon {
        width: 40px;
        height: 40px;

        img {
            height: 15px;
        }
    }
}