.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px 0px, rgb(51, 51, 51) 4px 3px 0px 7px
}

@media only screen and (width:1024px) {
    header {
        nav {
            ul {
                li {
                    padding-right: 25px;

                    &:last-child {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}