.hero-section {
    height: 800px;

    .hero-layer {
        height: 320px;
        top: 30px;
        background: linear-gradient(180deg, rgba(255, 90, 41, 100), rgba(255, 90, 41, 0));
    }
}

.marquree-slider-section {
    .marquree-img {
        width: 24px;
    }
}