body {
  background-color: $color-FF5A29;
}

.left-right-img-section {
  .left-image {
    width: 660px;
    height: 545px;
  }
}

.working-slider-section {
  .working-layer-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 250px;
  }

  .slick-list {
    overflow: visible;
  }

  .img-wrapper {
    width: 360px;
    height: 280px;
  }

  .number {
    width: 43px;
    height: 43px;
  }

  .arrow {
    width: 340px;
  }

  .history-line::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 19px;
    width: 355px;
    transform: translate(0%, -50%);
    height: 15px;
    background-image: url("/public/assets/images/Arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}


.logo-section {
  .logo-image {
    width: 178px;
    height: 186px;
  }
}

.two-card-section {
  .img-cover {
    height: 210px;
    right: 0;
    top: 50%;
    
  }
}