body {
  background-color: $color-FF5A29;
}

.left-right-img-section {
  .left-image {
    width: 660px;
    height: 545px;
  }
}

.working-slider-section {
  .working-layer-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 274px;
    height: 250px;
  }
  
  .slick-list{
    overflow: visible;
  }
  .img-wrapper {
    width: 360px;
    height: 280px;
  }

  .number {
    width: 43px;
    height: 43px;
  }
  .arrow {
    width: 340px;
  }
}


.logo-section {
  .logo-image {
    width: 179px;
    height: 188px;
  }
}

.two-card-section {
  .card-wrapper {
    position: absolute;
    top: 0;
    left: 315px;
  }
  .img-cover {
    width: 330px;
    height: 185px;
  }
}


