body{
   background-color: $color-FF5A29; 
}

.left-right-img-section{
    .left-image{
        width: 660px;
        height: 545px;
    }
}

.two-card-section{
    .card-wrapper{
        position: absolute;
        top: 0;
        left: 315px;
    }
    .img-cover{
        width: 330px;
        height: 185px;
    }
}
